<script>
	var map;
	function initMap() {
		var position = <%= {lat: current_user.profile.lat , lng: current_user.profile.lng }.to_json.html_safe %>;
		var map = new google.maps.Map(document.getElementById('map'), {
			center: position,
			zoom: 8
		});
		var marker = new google.maps.Marker({
			position: position,
			map: map
		});

		var geo = navigator.geolocation;
		if (geo) {
			geo.getCurrentPosition(function (data) {
						$('#lat').val(data.coords.latitude);
						$('#lng').val(data.coords.longitude);
					}, function error(msg) {
						$("#error").html(msg);
						console.log(msg);
					},
					{
						timeout: 10000,
						maximumAge: 900,
						enableHighAccuracy: true
					});
		}

	}
</script>

<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBaQIJZ723fLKOQ87RpFQ5O-fDy6qOdOk8&callback=initMap'
        async defer></script>

<div class="ui container">
<%= render 'message' %>
	<div class="ui stackable grid">
		<div class="five wide column">
			<div class="ui vertical fluid menu">
				<div class="ui teal segment">
					<div id="avatar" class="ui medium rounded image">
						<div class="ui special cards">
							<div class="card">
								<div class="blurring dimmable image">
									<div class="ui dimmer">
										<div class="content">
											<div class="center">
												<div class="custom-btn ui inverted button">Change image</div>
											</div>
										</div>
									</div>
									<% if @user.profile.avatar %>
											<%= image_tag(@user.profile.avatar.url || "", id: 'avatar-img') %>
									<% else %>
											<img src="assets/icon.png">
											NO IMAGE!
									<% end %>
								</div>
							</div>
						</div>
					</div>
					<br>
					<br>
					<button id="message-me" class="ui blue button">
						<%= semantic_icon('mail') %>
						Message me
					</button>
					<br>
					<hr>
					<div class="six wide column">
						<%= render 'about_me' %>
						<div id="post-location">
							<input type="hidden" name="lat" id="lat">
							<input type="hidden" name="lng" id="lng">
							<button id= "submit-location" class="ui primary button">
								Update Location
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="nine wide column">
			<div class="ui teal segment">
				<% if @user.account.is_premium? %>
					<a class="ui blue image label">
						<div class="detail">Premium</div>
					</a>
				<% else %>
						<a href='account' class="ui grey image label">
							<div class="detail">
								Premium
							</div>
						</a>
				<% end %>
				<%= link_to "Pictures", media_content_path(@user), class: "ui blue button" %>
			</div>


			<div class="ui teal segment">
				<%= form_for @post do |f| %>
						<div class="ui form field">
							<%= f.text_area :body, rows: 3 %><br>
							<br>
							<%= f.submit "Create Post", class: "ui blue button" %>
						</div>
				<% end %>
				<hr>
				<div>
					<h2 align="center">My posts</h2>
					<% @my_posts.each do |post| %>
							<%= post.body %>
							<div class="date">
								<%= time_ago_in_words(post.created_at) %>
							</div>
							<hr>
					<% end %>
				</div>
				<br>


			</div>
		</div>
	</div>
	<div class="ui teal segment">
		<div id="map"></div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">

	$('#post-location').on("click", function () {
		latitude = $('#lat').val();
		longitude= $('#lng').val();
		console.log(longitude, latitude);
//		debugger;

		$.ajax({
			method: "POST",
			url: '/location',
			data: {
				lat: latitude,
				lng: longitude
		},
			success: function () {

			}
		});
	});


	$('#message-me').on('click', function () {
		$('.small.modal')
				.modal({blurring: true})
				.modal('show')
		;
	});


	$('#send-message').on('click', function () {
		$.ajax({
			type: 'post',
			url: '/messages',
			data: {
				message: {
				recipient_id: <%= @user.id %>,
				body: $('#new_message > textarea')["0"].value
			}},
			success: function (response) {
				$('.close').click()
			}
		})
	});

	var csrf = $("meta[name=csrf-token]").attr("content");

	$('.label').on('click', function (e) {
		var id1 = e.target.id;
		var id = id1.substring(7, 99);
		console.log(id);
		$.ajax({
			type: 'delete',
			url: '/users/' + <%= current_user.id.to_s %> +'/profile',
			data: {
				id: id
			},
			success: function (response) {
				console.log(response);
				$('#delete-' + response.hobby_id).fadeOut();
			}
		});
	});

	$('.pen').on('click', function () {
		$(this).parent().parent().find('.field').fadeIn();
		$(this).parent().fadeOut()
	});


	$('.custom-btn').on('click', function () {
		$('#profile_avatar').click();
	});
	$('#profile_avatar').on('change', function () {
		$('#secret-submit').click();
	});
	$('#image-upload').on('ajax:remotipartComplete', function (e, data) {
		$('#avatar-img').attr("src", JSON.parse(data.responseText).avatar.url)
	});

	$('#field-gender').on('change', function (v) {
		$('#secret-gender-btn').click();
		$('#field-gender').css('display', 'none').fadeOut();
		$('#gender').fadeIn();
	});

	$('#gender-form').on('ajax:success', function (e, data) {
		console.log(data);
		$('#gender p span').html(data.sex);
	});


	$('#age-form').on('ajax:success', function (e, data) {
		$('#age p span').html(data.age);
		$('#age').css('display', 'none').fadeIn();
		$('#field-age').fadeOut();
	});

	$('#hobbies-form').on('ajax:success', function (e, data) {
		console.log(data);
		var hobbies = $('#hobby');
		for (var i = 0; i < data.hobbies.length; ++i) {
			hobbies.append("<p><span class='ui large label'>" + data.hobbies[i].name + "</span></p>");
		}
		$('#field-hobbies').fadeOut();
		hobbies.fadeIn();
	});

	$('.special.cards .image').dimmer({
		on: 'hover'
	});


</script>
