<div class="ui container">
	<div class="ui stacked grid">
		<div class="row">
			<div class="four wide column">
				<h1>All Conversations</h1>
				<% @my_conversations.each do |conversation| %>
						<div id='conv-<%= conversation.id %>' x-conterpart="<%= conversation.counterpart(current_user).id %>" class="ui msg message">
							<%= conversation.sender.username %> said: <br>
							<%= conversation.messages.last.body unless conversation.messages.last.nil? %>
						</div>
				<% end %>
			</div>

			<div class="ten wide column">
				<h1>My Messages</h1>
				<div class="ui message">
					<div class="ui form field submit">
						<%= form_for @message, remote: true do |f| %>
								<%= f.hidden_field :conversation_id %>
								<%= f.text_field :body %>
								<%= f.submit class: "btn" %>
						<% end %>
						<br>
					</div>
					<!--<div class="messages">-->
						<%= render(:partial => 'conversations/conversation') %>
					<!--</div>-->
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">

	var form = $(".submit");
	form.on("keydown", function (e) {
		if (e.keyCode == 13)
			$('.btn').click();
	});


	$('.msg').on('click', function () {
		var id = $(this).attr("id").substring(5, 99) ;
		$('#message_conversation_id').val(id);
		$.get('/conversations/' + id).success(function (data) {
//			 /debugger
//			$('.messages').html("");
//			console.log(data);
//			for (var i = 0; i < data.length; i++) {
////				console.log(data[i]);
//				$('.messages').append('<span>' + data[i].username + ": " + data[i].body + '</span>' + '<br>');
//			}
		});
	});
</script>