
<div class="ui feed">
	<div class="event">
		<div class="item">
			<%= link_to user_profile_path(activity.user.id) do %>
				<%= image_tag(activity.user.profile.avatar.url || "", class: "ui avatar image") %>
			<% end %>
		</div>
		<div class="content">
			<div class="summary">
				<%= activity.name %>
				<div class="date">
					<%= time_ago_in_words(activity.created_at) %>
				</div>
			</div>

			<div class="meta like">
				<%= link_to semantic_icon('like', style: if current_user.user_likes.find_by(likable_id: activity.id).nil?
						                                         "color: black;"
					                                         else
						                                         "color: red;"
					                                         end
					            ),
					            likes_path(likable: {likable_type: "Activity", likable_id: activity.id}),
					            id: "activity-#{activity.id}",
					            method: :post,
					            remote: true
					%>
				<span id="liked<%= activity.id %>"><%= activity.likes.count %>
				</span>

				<i id = "comment-<%= activity.id %>" class="comment outline icon"></i>
				<%= activity.comments.count %>


				<div class="comments">
					<div class="comment">
						<div class="content">
							<div id="comment-body-<%= activity.id %>">
								<% activity.comments.each do |comment| %>
										<strong><%=link_to comment.user.username, user_profile_path(comment.user) %> </strong><%= comment.body %><br>
								<% end %>
							</div>
						</div>
					</div>
				</div>


					<div id="comment-form-<%= activity.id %>" class="comment-form ui form">
						<div class= "field">
							<%= form_for @comment, remote: true do |f| %>
									<div id="comment-field-<%= activity.id %>" class="comment-field">
										<%= f.text_field :body %>
										<%= f.hidden_field :commentable_type, :value => "Activity" %>
										<%= f.hidden_field :commentable_id, :value => activity.id %>
										<%= f.submit class: "comment-submit" %>
									</div>
							<% end %>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

//	$('.feed')
//			.visibility({
//				once: false,
//				// update size when new content loads
//				observeChanges: true,
//				// load content on bottom edge visible
//				onBottomVisible: function() {
//					// loads a max of 5 times
//					window.loadFakeContent();
//				}
//			})
//	;

	$("#comment-form-<%= activity.id %>" ).on('ajax:success', function (e, response) {
		console.log(response);
		var id = response.commentable_id.toString();
		$("#comment-body-" + id).append(response.body).fadeIn();
		$("#comment-form-" + id).fadeOut();
	});

	$('#comment-<%= activity.id %>').on('click', function () {
		var id = $(this).attr("id");
		$('#comment-field-<%= activity.id %>').css("display", "block");
		console.log(id);
	});


	$('#activity-<%= activity.id %>').on('ajax:success', function (e, response){
		var count = $('#liked<%= activity.id %>');
		var likes = parseInt(count.html());

		if (response.success == "liked") {
			console.log(response.success);
			var c = likes + 1;
			$(this).children().css("color", "red");
			count.html(c)
		}
	   else if (response.success == "unliked") {
			console.log(response.success);
			var c = likes - 1;
			$(this).children().css("color", "black");
			count.html(c)
		}
	});
</script>