<!DOCTYPE html>
<html>
  <head>
    <title>LetsDate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div class="ui top fixed borderless menu">
	  <% if user_signed_in? %>
			  <%= link_to "Home", root_path, class: 'item' %>
			  <%= link_to "My messages", conversations_path, class: 'item' %>
			  <%= link_to "My profile", user_profile_path(current_user), class: "item" %>
	  <a class="item">
		  Friends
	  </a>

	  <div class="right menu">
		  <%= link_to "logout", destroy_user_session_path, method: :delete, class: "ui negative basic button" %>
	  </div>
	  <% end %>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  </body>
</html>
